# RestDB
FULL_ACCESS_RESTDB_API_KEY=your_restdb_full_access_api_key
RESTDB_BASE_URL=https://your-db-id.restdb.io/rest
RESTDB_COLLECTION=air-channels

INGEST_SOURCE_BASE_URL=https://source.com

# Frontend (REACT_APP_*)
REACT_APP_RESTDB_API_KEY=your_restdb_readonly_api_key
REACT_APP_RESTDB_BASE_URL=https://your-db-id.restdb.io/rest
REACT_APP_RESTDB_COLLECTION=air-channels
